<div class="container">
  <h4>{{ 't.dog_breeds' | translate }}</h4>

  <form [formGroup]="dogForm" novalidate>
    <mat-form-field appearance="fill">
      <mat-label>{{ 't.select_breed' | translate }}</mat-label>
      <mat-select formControlName="breed" (selectionChange)="loadImagesList()">
        <mat-option *ngFor="let breed of ($breedsList | async)" [value]="breed">
          {{ breed }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div class="container images" *ngIf="($imagesList | async)?.length!==0">
  <span *ngFor="let item of $imagesList | async; let i = index">
    <img class="image" src="{{ item }}" alt="image {{ i }}" />
  </span>
</div>

