mat-toolbar {
  background: #1781e8 !important;
  padding: 0 64px;
  margin-bottom: 50px;

  div {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    max-width: 1200px;

    span {
      &.title {
        margin-top: 12px;
      }

      &.sections {
        font-size: 16px !important;
      }

      mat-form-field {
        width: 50px;
        color: #fff;
        margin-right: 10px;
        font-size: 14px !important;
      }

      a {
        text-decoration: none;
        color: #fff;

        &.fs-16 {
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}


